.spinner {
   width: 56px;
   height: 56px;
   border-radius: 50%;
   background: repeating-conic-gradient(#474bff 0 90deg,#dbdcef 0 180deg);
   animation: spinner-a78xsi 1s infinite linear;
}

@keyframes spinner-a78xsi {
   100% {
      transform: rotate(1turn);
   }
}
p{
   color: white;
   font-family: cursive;
}
/* 
  body{
    width: 100%;
    height: 100%;
  
  } */


.centerspin{
   width: 100vw;
   height: 80vh;
   display: flex;
   align-items: center;
   justify-content: center; 
   
}